<launch>

    <group ns="radar_1">
        <node pkg = "$(arg project)" type= "$(arg project)_publisher" name= "$(arg project)_publisher" output="screen" respawn="true"/>
        <param name="serialPort" value="/dev/ttyACM0"/>
    </group>
    <group ns="radar_2">
        <node pkg = "$(arg project)" type= "$(arg project)_publisher" name= "$(arg project)_publisher" output="screen" respawn="true"/>
        <param name="serialPort" value="/dev/ttyACM1"/>
    </group>
</launch>
